{% extends 'base.html' %}

{% block head %}
<title> Testing </title>
{% endblock %}

{% block body %}

<h1>Testesting App</h1>

    <form action="/login" method="post">
      
        <div class="container">
          <label for="in_username"><b>Username</b></label>
          <input type="text" id="in_username" placeholder="Enter Username" name="uname" required>
      
          <label for="in_password"><b>Password</b></label>
          <input type="password" id="in_password" placeholder="Enter Password" name="psw" required>
              
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>

{% endblock %}

